numpy
pandas
scipy
TA-Lib
statsmodels
scikit-learn
matplotlib
yfinance
tushare
pandas-datareader
akshare
baostock
alpha_vantage
backtrader
bt
pyalgotrade
FinRL
pyfolio
qrisk
ffn
qfrm
vollib
quantdsl
Finance-Python
PyQL
pyfin
tensorflow
keras
seaborn
empyrical