numpy
scipy
pandas
matplotlib
seaborn
statsmodels
scikit-learn
jupyter
ta
pandas-ta
backtrader
zipline-reloaded
QSTrader
pyfolio
empyrical
ffn
arch
riskfolio-lib
cvxpy
pyomo
pulp
numba
cython
tensorflow
torch
xgboost
lightgbm
catboost
quandl
yfinance
alpha_vantage
ib_insync
alpaca-trade-api
ccxt
python-binance
quantstats
vectorbt
QuantLib
qlib
fastquant
pypfopt
statsforecast
prophet
deap
hmmlearn
pomegranate
pymc3
simpy
networkx
plotly
